$tamanio-grande: 160px;

@mixin boton {
  border: none;
  background-color: rgba(246, 241, 241, 0);
  font-family: Roboto;
  font-weight: 300;
  font-size: 16px;
  padding: 5px;
}

* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

/***************************Tipografía************************/

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300;1,700;1,900&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

/****************************Header**************************/

.header {
  background-color: #f9bec7;
  background-image: url(../imgs/cupcakesArriba2.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center center;
}

.slogan {
  height: 500px;
  width: 100vh;
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  justify-content: flex-end;
}

.mainTitle {
  color: #2b2b2b;
  font-style: italic;
  font-size: $tamanio-grande / 2;
  font-weight: 900;
  margin-left: 70px;
  margin-bottom: 50px;
  margin-top: 5px;
  animation-name: aparecer;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes aparecer {
  0% {
    margin-left: -300px;
  }
  100% {
    margin-left: 90px;
  }
}

.header__button {
  background-color: #f7268a;
  padding: 15px 30px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  margin-left: 255px;
  border: none;
  font-style: italic;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
  text-decoration: none;
}

.header__button:hover {
  background-color: rgba(247, 38, 138, 0.8);
  box-shadow: 0 0.5em 0.5em -0.4em rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.header__mainButton {
  animation-name: btn;
  /* animation-delay: 1s; */
  animation-fill-mode: forwards;
  animation-duration: 3.5s;
}

@keyframes btn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/****************************Nav******************************/

.navbar--padding {
  padding: 0;
}

.navbar__a {
  color: #2b2b2b;
  text-decoration: none;
  /* transition: color 0.3s ease; */
  font-size: 18px;
  font-weight: 350;
}

.navbar__a:hover {
  font-weight: 350;
  color: #f7268a;
  /* border-bottom: 2px solid #f7268a; */
}

.navbar__list {
  padding-left: 20px;
  padding-right: 50px;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(43,43,43)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: #2b2b2b;
}

/*Estilos del logo*/

.navbar__logo {
  width: 250px;
  margin: 10px 0 0 10px;
}

/***********************Contenido principal*********************/
.section--reverse {
  flex-direction: row-reverse;
}
.section__title {
  color: #2b2b2b;
  font-weight: 300;
  font-style: italic;
  font-size: 2 rem;
  // padding: 50px 35px 0px 35px;
  text-align: center;
}

.section__text {
  color: #2b2b2b;
  // padding: 20px 40px;
  font-weight: 300;
  line-height: 30px;
}

.section__img {
  width: 50%;
}
/*******************************Quiénes somos.html**************************/
.main__secc {
  margin-top: 110px;
  margin-bottom: 50px;
}

.section__quienes {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.section__picture {
  margin-left: 70px;
}

.section__descr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.section__text--quienes {
  color: #2b2b2b;
  font-weight: 300;
  line-height: 30px;
  margin-top: 30px;
  text-align: justify;
}

/*******************************Productos.html*****************************/
.section__products {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
}

.section__catalogo {
  display: grid;
  grid-template-columns: auto auto;
}

.section__namesCup {
  color: #2b2b2b;
  font-weight: 350;
  line-height: 30px;
  text-align: center;
  font-size: 1.2rem;
  color: #f7268a;
}

.section__cupcakes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section__textProducts {
  color: #2b2b2b;
  font-weight: 300;
  line-height: 30px;
}

.section__textPrice {
  color: #2b2b2b;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}

.section__imgProducts {
  transition: all 1s ease;
}

.section__imgProducts:hover {
  transform: scale(1.2, 1.2);
}

/*******************************Contacto.html*****************************/
.main__secc--contact {
  background-image: url(../imgs/fondoContacto.jpg);
  background-size: cover;
  background-position: bottom center;
  height: 100vh;
  margin: 0;
  padding-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionContact {
  background-color: rgba(246, 241, 241, 0.8);
  width: 40%;
  height: 75vh;
  padding-top: 30px;
  border-radius: 10px;
}

.section__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 60vh;
}

.section__comentario {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section__label {
  color: #2b2b2b;
  font-weight: 300;
}

.section__label--comentario {
  @extend .section__label;
  margin-bottom: 1rem;
}

.section__label--apellido {
  margin-left: 0.5rem;
}

.section__usuario {
  border: none;
  border-bottom: 1px solid #2b2b2b;
  width: 130px;
  outline: none;
  background-color: rgba(246, 241, 241, 0);
}

.section__caja {
  border: none;
  border: 1px solid #2b2b2b;
  font-family: Roboto;
  font-weight: 300;
  outline: none;
  background-color: rgba(246, 241, 241, 0);
  border-radius: 0.2em;
}

.section__option {
  font-family: Roboto;
  font-weight: 300;
}

.section__buttonform {
  @include boton;
}
.section__buttonform:hover {
  /* font-weight: 400; */
  border-bottom: 2px solid #f7268a;
}

/*******************************Tiendas.html*****************************/
.places {
  display: flex;
  align-items: center;
  justify-content: center;
  &__title {
    color: #2b2b2b;
    font-weight: 300;
    font-style: italic;
    font-size: 2.5rem;
    /* padding: 5px 35px; */
    text-align: center;
    margin-bottom: 30px;
  }
  &__img {
    width: 40%;
  }
  &__descr {
    width: 40%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  &__subtitle {
    color: #2b2b2b;
    font-weight: 300;
    font-style: italic;
    font-size: 30px;
    /* margin: 5px 35px; */
    text-align: center;
  }
  &__text {
    color: #2b2b2b;
    font-weight: 300;
    line-height: 30px;
    margin-top: 30px;
    margin-left: 30px;
    text-align: justify;
  }
}

.places--reverse {
  flex-direction: row-reverse;
}

.places__text--martinez {
  margin-left: 0;
  margin-right: 30px;
}

.places__map {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.places__icon {
  width: 35px;
}

.places__direction {
  color: #f7268a;
  text-decoration: none;
  font-size: 16px;
  font-weight: 350;
  margin-left: 10px;
}

/*******************************Footer************************************/

.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #f5eef0;
  // height: 40vh;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 30vh;
    padding-top: 30px;
  }
  &__list {
    list-style-type: none;
    font-weight: 300;
    color: #2b2b2b;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 25vh;
  }
  &__list--space {
    margin-top: 35px;
  }
  &__redes {
    width: 50%;
    display: flex;
    list-style: none;
    justify-content: space-between;
  }

  &__a {
    color: #2b2b2b;
    text-decoration: none;
    font-size: 16px;
  }
  &__a:hover {
    color: #f7268a;
    text-decoration: none;
  }
  &__title {
    color: #2b2b2b;
    font-weight: 300;
  }
  &__icon {
    width: 20px;
  }

  &__label {
    font-weight: 300;
    color: #2b2b2b;
  }

  &__input {
    border: 0;
    border-bottom: 1px solid #2b2b2b;
    background-color: #f5eef0;
  }

  &__button {
    border: #f5eef0;
    background-color: #f5eef0;
    font-weight: 300;
    color: #2b2b2b;
    font-size: 15px;
    font-family: Roboto, sans-serif;
  }

  &__button:hover {
    /* font-weight: 400; */
    border-bottom: 2px solid #f7268a;
  }
}

@media only screen and (max-width: 992px) {
  .header {
    height: 65vh;
  }
}

@media only screen and (max-width: 992px) {
  .footer {
    flex-direction: column;
  }
}
